body {
  height: 3000px;
}

.bottom-box {
  position: fixed;
  bottom: 20px;
  right: 20px;

  width: 320px;
  height: 180px;
  background-color: gray;
}

.close-button {
  cursor: pointer;
  font-family: Arial;
  padding: 10px 14px;
  position: absolute;
  top: -13px;
  left: -13px;
  background-color: black;
  color: white;
  border-radius: 20px;
}

.timestamp {
  font-family: Arial;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: black;
  color: white;
  padding: 5px 7px;
}