.subscribe-btn {
  background-color: rgb(200,0,0);
  color: white;
  border: none;
  height: 36px;
  width: 106px;
  margin-right: 8px;
  border-radius: 2px;
  cursor: pointer;
}
.join-btn{
  height: 36px;
  width: 62px;
  border-style: solid;
  border-color: rgb(41, 118, 211);
  border-width: 1px;
  border-radius:2px;
  color:rgb(41, 118, 211);
  
  cursor: pointer;
}

.tweet-btn {
  background-color: rgb(33, 124, 200);
  color:white;
  border:none;
  margin-left: 8px;
  height: 36px;
  width: 80px;
  border-radius: 18px;
  font-weight: bold;
  cursor: pointer;
}