.container {
  /* width: 200px; */
  /* background-color: aquamarine; */
  box-shadow: 0 2px 5px #bdbdbd;
  /* display: inline-block; */
  /* margin-right: 10px; */
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

p {
  color: #6b6b6b;
  margin: 0;
}

h2,p,button {
  font-family: Roboto, Helvetica, sans-serif;
}

button {
  color: white;
  background-color: #3e72e2;
  border: none;
  font-size: 15px;
  padding: 10px 24px;
  border-radius: 4px ;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #050542;;
}


.frnd-profile {
  height: 35px;
  width: 35px;
  border-radius: 18px;
}

.frnd-info {
  padding-left: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  column-gap: 30px;
}

.mutual-frnd-grid {
  display: grid;
  grid-template-columns: 35px 1fr;
  column-gap: 8px;
  align-items: center;
}